/* ----------------------------------------------------
  BLOG STYLES
------------------------------------------------------- */
.blog-item {
  padding: 0;
  margin: 0 0 30px;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  .medium {
    padding: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  .post-content {
    &.blog-caption {
      padding: 5px 20px 9px;
    }
    &.medium {
      margin-top: unset;
    }
    h2 {
      margin-bottom: 0px;
      a {
        color: #555;
        font-weight: 500;
        letter-spacing: -0.5px;
        font-size: 22px;
        margin-bottom: 6px;
        line-height: 24px;
        &:hover {
          color: @link_color;
        }
      }
    }
    .meta {
      margin: 0px 0px 5px;
      ul {
        margin: 5px 0 0;
        padding-left: 0;
        .date,
        .author {
          margin-right: 0px;
          font-size: 12px;
          color: @base_color;
        }
        li {
          display: inline-block;
          font-weight: 200;
          color: @base_color;
          margin: 0 0px 10px 0px;
          padding: 0 6px 0 0px;
          font-style: normal;
          font-size: 12px;
          font-family: "Open Sans", sans-serif;
          &:after {
            display: inline-block;
            content: "";
            padding: 0 0px 0 10px;
            color: #ccc;
          }
          .fa-user {
            margin-right: 5px;
          }
          a {
            color: @base_color;
          }
          &:last-child {
            &:after {
              content: "";
            }
          }
        }
      }
    }
    .short-desc {
      margin-bottom: 20px;
    }
  }
}
.view-mode-teaser_grid {
  .blog-item {}
}
#block-views-blog-block-grid-latest-post {
  .readmore {
    background: none;
    border: 2px solid #b2babc;
    color: #b2babc;
    &:hover {
      background: #b2babc;
      color: #fff;
    }
  }
}

/*#################################################################
	BLOG CATEGORY
################################################################# */

.view-blog-categories {
  ul {
    margin: 0;
    li {
      line-height: 25px;
      padding-bottom: 20px;
      margin: 0px;
      overflow: hidden;
      cursor: pointer;
      .count {
        background-color: @link_color;
        color: #FCFCFC;
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 1px;
        .transition(all, 0.3s);
      }
      &:hover {
        a {
          color: @link_color;
          .transition(all, 0.3s, ease-in-out);
        }
        .count {
          background-color: #453951;
          .transition(all, 0.2s);
        }
      }
      a {
        color: #788;
      }
    }
  }
}

/*#################################################################
	BLOG TAGS SIDEBAR
################################################################# */

.tags {
  ul {
    padding: 0;
    li {
      display: inline-block;
      margin: 0px 0px 5px;
      a {
        line-height: 1.4em !important;
        padding: 5px 10px;
        border-radius: 1px;
        font-size: 12px;
        display: block;
        position: relative;
        background-color: @link_color;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        color: #fcfcfc;
        font-weight: 400;
        letter-spacing: 1px;
        .fa {
          margin-right: 0px;
          &:hover {
            background-color: transparent;
          }
        }
        .fa::before {
          margin-right: 5px;
        }
        &:hover {
          .transition(all, .3s, ease-out);
          background-color: #453951;
          color: #fcfcfc;
          text-decoration: none;
        }
      }
    }
  }
}

/* ----------------------------------------------------
  LATEST NEWS FOOTER
------------------------------------------------------- */

.recent-posts {
  ul {
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      display: block;
      margin: 4px 0;
      h3 {
        margin-bottom: 10px;
        a {
          font-family: 'Raleway', sans-serif;
          margin-top: 0;
          color: #999;
          font-weight: 300;
          font-size: 14px;
          &:hover {
            color: @link_color;
          }
        }
      }
      .post-date {
        font-size: 85%;
        font-style: italic;
      }
    }
  }
}

/* ----------------------------------------------------
  BLOG COMMENTS
------------------------------------------------------- */

.comments-single {
  margin-top: 80px;
}
.comment-form-wrapper {
  margin-top: 100px;
}
.comment-form {
  .form-text:focus {
    border-color: @link_color !important;
  }
  .field-name-field-name,
  .field-name-field-email {
    width: 50%;
    display: inline-block;
    @media (max-width: 480px) {
      width: 100%;
    }
    input[type="text"] {
      width: 100%;
      display: block;
      border-radius: 2px;
      background-color: #fcfcfc;
      border: 1px solid #BBB;
      color: #555;
      line-height: 1.4 !important;
      padding: 6px 12px;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
      //transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
      .transition(all, 0.15s,ease-in-out);
    }
  }
  .field-name-field-email {
    padding-left: 15px;
    @media(max-width: 480px) {
      padding-left: 0;
    }
  }
  .field-name-field-name {
    padding-right: 15px;
    float: left;
    @media(max-width: 480px) {
      padding-right: 0;
      float: none;
    }
  }
  label {
    display: block;
  }
}
.comment-row {
  margin-top: 75px;
  &:first-child {
    margin-top: 0;
  }
  .comment-text {
    overflow: hidden;
  }
  .comment-avatar {
    float: left;
    img {
      width: 75px;
      margin-right: 15px;
    }
  }
  .comment-heading {
    font-size: 14px;
    color: #666;
    text-transform: uppercase;
    line-height: 10px;
    a {
      color: #666;
      &.reply {
        font-size: 13px;
      }
      &:hover {
        color: @link_hover_color;
      }
    }
  }
}
#blog-block-box {
  .dexp-grid-item {
    height: auto;
    min-height: 350px;
    color: #fff!important;
    &:nth-child(2n) {
      background: #282e41;
    }
    &:nth-child(2n + 1) {
      background: #303030;
    }
    &:first-child {
      background: #ff415b;
    }
    .dexp-grid-item-inner {
      padding: 60px 60px 40px 100px;
    }
    .views-field-title {
      a {
        letter-spacing: 1px;
        font-weight: 800;
        color: #fff;
        font-size: 30px;
        line-height: 30px;
        display: block;
        height: 90px;
        overflow: hidden;
      }
    }
    .views-field-created {
      margin-bottom: 40px;
      font-weight: 800;
      color: #fff;
      font-size: 16px;
    }
  }
}
#blog-block-background-image {
  color: #fff!important;
  .bg-blog-content {
    position: absolute;
    z-index: 100;
    padding: 60px 200px 60px 120px;
    h1.title {
      a {
        letter-spacing: 1px;
        font-weight: 800;
        color: #fff;
        font-size: 30px;
        line-height: 30px;
      }
    }
    .date {
      margin-bottom: 40px;
      font-weight: 800;
      color: #fff;
      font-size: 16px;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
}
.custom-tab-leftsidebar {
  .nav-tabs{
    margin-bottom: 25px !important;
  }
  .file-video {
    width: 70px;
    height: 60px;
    float: left;
    margin-right: 10px;
    .media-youtube-video,
    .media-vimeo-video {
      height: 60px;
    }
  }
  img,
  iframe {
    width: 70px;
    height: 60px;
    float: left;
    margin-right: 10px;
  }
  .views-row {
    margin-bottom: 25px;
    .post-date {
      font-style: normal;
      font-size: 13px;
      color: #788;
    }
    h3{
      margin-bottom: 0;
    }
    a {
      font-size: 16px;
      font-weight: 400;
      .transition(all, 0.3s);
      color: @base_color;
      &:hover {
        text-decoration: none;
        color: #453951;
        .transition(all, 0.2s);
      }
    }
  }
}
