/* ----------------------------------------------------
  COMMON STYLES
------------------------------------------------------- */

a {
  color: @link_color;
  &:hover {
    text-decoration: none;
    color: @link_hover_color;
  }
}
.region-left-sidebar,
.region-right-sidebar {
  .tags ul li a::before {
    content: "";
    font-family: FontAwesome;
    margin-right: 5px;
  }
}
.region-left-sidebar,
.region-right-sidebar,
.hr-bottom-title {
  .block {
    margin-bottom: 30px;
  }
  .block-title {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: normal;
    margin-bottom: 25px;
    width: 100%;
    color: #444;
    font-weight: 400;
  }
  .fa {
    border-radius: 3px;
    &:hover {
      background-color: @base_color;
    }
    &.fa-facabook {}
  }
}

/*************************************************
MEDIA STYLES
*************************************************/

.media-vimeo-video,
.media-youtube-video,
.media-soundcloud-preview-wrapper {
  position: relative;
  padding-bottom: 64.25%;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
.media_element video {
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #000;
  height: auto;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/*************************************************
PAGER VIEW
*************************************************/

/*.view > .item-list {*/
  .pagination {
    margin-bottom: 40px !important;
    > li {
      &.pager-current {
        a {
          background-color: @base_color;
          color: #FFF;
        }
      }
      > a {
        color: #b9bec3;
        border-radius: 3px;
        margin-right: 7px;
        border: 1px solid #eceef0;
        &:hover {
          background: @base_color;
          color: #FFF;
        }
      }
    }
  }
/*}*/
img {
  height: auto;
  max-width: 100%;
}
.bx-wrapper .bx-viewport {
  border: 0 none;
  background: none;
}

/* CONTROL NEXT/PRE AT FOOTER BXSLIDER */

.bottom-controls {
  .bx-controls {
    margin: 40px 0 0;
    text-align: center;
    .fa {
      border: 1px solid #d5d5d5;
      color: #d5d5d5;
      border-radius: 100%;
      font-size: 24px;
      height: 30px;
      width: 30px;
      line-height: 26px;
      text-align: center;
      &:hover {
        background-color: @base_color;
        border: 1px solid @base_color;
        color: #fff;
      }
    }
    .bx-prev,
    .bx-next {
      position: relative;
      margin: 5px;
      background: none;
      text-indent: 0 !important;
      &:hover {}
    }
    .bx-prev {
      left: 0 !important;
    }
    .bx-next {
      right: 0 !important;
      ;
    }
  }
  .bx-wrapper {
    &:hover {
      .bx-prev {
        left: 0px !important;
      }
      .bx-next {
        right: 0px !important;
      }
    }
  }
}
.lead {
  display: inline;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

/* FLICKR WIDGET*/

.flickr-widget a {
  float:left;
  margin: 0 10px 15px 0;
}
.flickr-widget img {
  display: block;
  width: 70px;
  height: 70px;
}
.flickr-widget img:hover {
  opacity: 0.6;
}
