
/*====================================
EVENTS LIST STYLE
======================================*/
.event-menu{
    .item-list{
        h3{
            padding:0;
            margin:0;
            a{
                color: #778899;
                display: block;
                padding: 10px 0 10px 10px;
                font-size: 14px;
                .transition(all, 0.3s, linear);
            }
            &:hover{
                border-left: 2px solid #453971;
                color: #453971;
                padding-left: 20px;
                .transition(all, 0.3s, linear);
            }
        }
        ul{
            display: none;
        }
    }
}
.view-calendar{
    .event-group-title {    
        border-bottom: 2px solid #e1e1e1;
        font-family: "Raleway", sans-serif;
        color: #606060;      
        font-size: 25px;
        font-weight: 400;
        margin-bottom: 20px;
        padding: 0 0 10px;
        position: relative;
        text-align: left;
        margin-top:50px;
        &:after {
            background-color: @base_color;
            bottom: -2px;
            content: "";
            display: block;
            height: 2px;
            left: 0;
            position: absolute;
            width: 7%;
        }
    }
    .views-row{
        margin-bottom: 30px;
        .event-title{
            padding: 10px 0;
            color: @base_color;
            padding-right: 20px;
        }
    }
}


/*====================================
EVENTS CALENDAR STYLE
======================================*/
.calendar-calendar{
    th.days {
        background-color: @base_color;
        border: 1px solid #ccc;
        color: #fff;
        padding: 10px 0;
    } 
} 
.view-calendar{
    .pager{
        .date-prev {
            background: @base_color;
            border-radius: 5px 0 0 5px;
            float: none;
            font-size: 12px;
            left: auto;
            padding: 5px 0;
            position: absolute;
            right: 78px;
            text-align: right;
            top: 0;
            width: auto;
            z-index: 1;
        }
        .date-next {
            background: @base_color;
            border-radius: 0 5px 5px 0;
            float: none;
            font-size: 12px;
            padding: 5px 0;
            position: absolute;
            right: 0;
            text-align: right;
            top: 0;
            width: auto;
            z-index: 1;
        }
        a, a:hover{
            background-color: @base_color;
            color: #fff !important;
            border:none;
        }
    }
}
.ui-dialog{
    .ui-widget-header {
        background: @base_color;
        color: #fff;
    }
    @media (min-width: @screen-sm) {
        left: 100px !important;
        right: 100px;
    }
    @media (min-width: @screen-md) {
        left: 300px !important;
        right: 300px;
    }
    @media (max-width: @screen-sm - 1) {
        left: 15px !important;
        right: 15px;
    }
}