select,
textarea,
input[type="text"],
input[type="password"] {
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 34px;
  padding: 0 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 34px;
  border: 1px solid #bbb;
  resize: none;
  vertical-align: middle;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  background:#FCFCFC;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
textarea:focus,input:focus,select:focus {
  border-color: @link_color !important;
  outline: 0px none;
  background-color: #FEFEFE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 2px rgba(34, 171, 166, 0.9);
}
textarea {
  height: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
  min-height: 150px;
  resize: vertical;
}
.btn-submit {
  position: relative;
  height: 50px;
  border: none;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 25px;
  background: #6ec878;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
width: 100%;
  border-radius: 2px;
  color: #fff;
  padding-right: 0px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-submit:hover {
  background: #3c3c3c;
}
.forms label {
  display: block;
  float: left;
  width: 95px;
  padding-top: 7px;
  font-size: 13px;
  clear: both;
}
.forms li.error input,
.forms li.error textarea {
  border: 1px solid #fffac8
}
.forms span.error {
  display: none;
}
.forms .button-row span.error {
  padding: 0;
  display: none;
}
::-webkit-input-placeholder {
  color: #cacaca !important
}
:-moz-placeholder {
  color: #cacaca !important
}
::-moz-placeholder {
  color: #cacaca !important
}
:-ms-input-placeholder {
  color: #cacaca !important
}
input:focus::-webkit-input-placeholder {
  color: transparent !important
}
input:focus:-moz-placeholder {
  color: transparent !important
}
input:focus::-moz-placeholder {
  color: transparent !important
}
input:focus:-ms-input-placeholder {
  color: transparent !important
}
