@header_height: 75px;
@sticky_height: 75px;
@mobile_header_height: 80px;
@submenu_backgroud: rgba(30, 30, 30, 0.9);
.menu_level_1_font(){
  font-size: 13px;
  font-weight: 400;
}
body{
  &.ltr{
    #section-header{
      .region-navigation{
        text-align: right;
      }
      .block{
        display: inline-block;
        vertical-align: middle;
      }
      .dexp-menu > ul.menu{
        text-align: right;
      }
    }
  }
  &.rtl{
    #section-header{
      .region-navigation{
        text-align: left;
      }
      .block{
        display: inline-block;
      }
      .dexp-menu > ul.menu{
        text-align: left;
      }
    }
  }
}
a.site-logo{
  img{
    &.primary{
      display: inline;
    }
    &.secondary{
      display: none;
    }
  }
}
#block-views-simple-shopping-cart-block {
  a{
    .transition(all, 0.3s);
    color: #000;
  }
}
.search-toggle{
  .transition(all, 0.3s);
  color: #000;
}
/*Header Overlay*/
body.header-overlay #section-header{
  height: 0;
  overflow: visible;
  .section-inner {
    .transition(all, 0.3s);
    color: #fff;
    width: 100%;
    position: absolute;
    z-index: 998;
    >.container {
      position: relative;
    }
    .dexp-dropdown > ul.menu > li > a,
    .dexp-dropdown > ul.menu > li > span.nolink,
    .search-toggle {
      color: #fff;
      &:hover,
      &.active {
        color: @base_color !important;
      }
    }
    #block-views-simple-shopping-cart-block {
      a{
        color: #fff;
      }
    }
  }
  a.site-logo{
    img{
      &.primary{
        display: none;
      }
      &.secondary{
        display: inline;
      }
    }
  }
  &.fixed-transition {
    .section-inner {
      background-color: rgba(20, 20, 20, 0.8);
      .dexp-dropdown > ul.menu > li > a,
      .search-toggle,
      .fa-shopping-cart
      {
        color: #fff !important;
        &:hover,&.active{
          color: @base_color !important;
        }
      }
      #block-views-simple-shopping-cart-block {
        a{
          color: #000;
        }
      }
    }
    a.site-logo{
      img{
        &.primary{
          display: inline;
        }
        &.secondary{
          display: none;
        }
      }
    }
  }
}
body.header-overlay{
  #section-slider {
    .contextual-links-wrapper {
      margin-top: @header_height;
    }
  }
}

/*Header Color*/
body.header-color #section-header,body.header-color #section-header.fixed-transition{
  .section-inner {
    background-color: @base_color;
    .dexp-dropdown > ul.menu > li > a,
    .dexp-dropdown > ul.menu > li > span.nolink,
    .search-toggle {
      color: #fff !important;
      &:hover,
      &.active {
        color: #000 !important;
      }
    }
    #block-views-simple-shopping-cart-block{
      a{
        color: #fff;
        span{
          background-color: #fff;
          color: @base_color;
        }
      }
    }
  }
}
/*Menu*/

@media screen and (min-width: 992px) {
  body{
    &.ltr{
      h3.dexp-mega-menu-title {
        text-align: left;
      }
    }
    &.rtl{
      h3.dexp-mega-menu-title {
        text-align: right;
      }
    }
  }
  h3.dexp-mega-menu-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    border-bottom: 1px solid #555;
    color: #e8e8e8;
    font-size: 13px;
    line-height: 37px;
    margin: 5px 0;
    text-transform: uppercase;
  }
  a.site-logo {
    line-height: @header_height;
  }
  .dexp-dropdown {
    >ul.menu>li>a,
    >ul.menu>li>a,
    >ul.menu>li>span.nolink {
      .transition(all, 0.2s);
      line-height: 40px;
      margin: (@header_height - 40)/2 0;
      font-family: "Open Sans", sans-serif;
      font-weight: 400 !important;
      font-size: 13px;
      .menu_level_1_font();
      text-transform: uppercase;
      padding: 0 20px;
      color: #778888;
      letter-spacing: 1.5px;
      outline: none;
      &:hover,
      &.active {
        color: @link_color;
      }
    }
    >ul.menu {
      font-size: 0px;
      ul.menu,
      .dexp-menu-mega {
        background: ~"@{submenu_backgroud}";
        -webkit-box-shadow: 1px 1px 3px 0px rgba(32,32,32,0.5);
        -moz-box-shadow: 1px 1px 3px 0px rgba(32,32,32,0.5);
        box-shadow: 1px 1px 3px 0px rgba(32,32,32,0.5);
        &.menu-visible {
          border-top: 2px solid @base_color;
        }
        ul.menu {
          top: -2px !important;
        }
        a,
        span.nolink {
          font-family: "Open Sans", sans-serif;
          line-height: 1.8;
          padding: 9px 0;
          color: #e8e8e8;
          text-transform:  capitalize;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0.5px;
          &:hover,
          &.active {
            color: @base_color;
          }
        }
        span.menu-toggle {
          line-height: 35px;
          color: #555;
        }
      }
      .dexp-menu-mega ul{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
    > ul.menu > li ul.menu > li{
      //border-bottom: 1px solid #f5f5f5;
      //border-bottom:  1px solid lighten(@submenu_backgroud,15%);
    }
  }
  body.rtl {
    .dexp-menu ul.menu ul.menu li {
      text-align: right;
    }
  }
  /*Header sticky*/
  #section-header {
    &.fixed-transition {
      .section-inner {
        background: #fff;
        box-shadow:  0 0 3px rgba(0, 0, 0, 0.3);
        .dexp-dropdown > ul.menu > li {
          >a,
          >span.nolink {
            margin: (@sticky_height - 40)/2 0;
            color: #000;
            &.active,&:hover{
              color: @base_color !important;
            }
          }
        }
        a.site-logo{
          line-height: @sticky_height;
        }
      }
    }
  }
}

/*Mobile menu*/

@media screen and (max-width: 991px) {
  body{
    &.ltr{
      .dexp-dropdown{
        ul.menu li{
          text-align: left;
        }
      }
    }
    &.rtl{
      .dexp-dropdown{
        ul.menu li{
          text-align: right;
          span.menu-toggle{
            left: 0;
            right: auto;
            &.fa-angle-right{
              .transform-rotate(180deg);
            }
          }
        }
      }
    }
  }
  .search-toggle{
    color: @base_color;
  }
  body.header-color{
    .dexp-menu-toggler {
      color: #fff;
    }
  }
  a.site-logo {
    line-height: 100px;
  }
  #section-header {
    a.site-logo {
      line-height: @mobile_header_height;
    }
    .dexp-dropdown {
      ul.menu a,
      ul.menu span.nolink {
        &:hover, &.active{
          color: @base_color;
        }
      }
    }
  }
  .dexp-menu {
    background: #282828;
    ul.menu li {
      a,
      span.nolink {
        color: #e8e8e8;
        font-family: "Montserrat", sans-serif;
        font-size: 12px;
        line-height: 35px;
        &:hover,
        &.active {
          color: @base_color;
        }
      }
      ul {
        margin-bottom: -1px;
        border-top: 1px solid #333;
      }
    }
  }
  .dexp-menu-toggler {
    line-height: @mobile_header_height;
    font-size: 20px;
  }
  .search-toggle {
    font-size: 16px;
  }
}
