.box-optical-color {
    background-color: rgba(red(@base_color), green(@base_color), blue(@base_color), 0.7);
    box-shadow: 0 0 15px rgba(20, 20, 20, 0.4);
    padding: 40px;
}
.box-color {
    background-color: @base_color;
    box-shadow: 0 0 15px rgba(20, 20, 20, 0.4);
    padding: 40px;
}
.block.overlay-bg {
    position: relative;
    .content{
        position: relative;
    }
}
.block.overlay-bg > .inner {
    background: #453951;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;    
}
@media (min-width: @screen-md) {
    .half-bg-white {
        position: relative;
        &.block > div.inner {
            background-color: rgba(255, 255, 255, 0.9);
            border-bottom-left-radius: 150px;
            border-top-left-radius: 150px;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            width: 54%;
        }
    }
}
@media (max-width: @screen-md - 1) {
    .half-bg-white{
        *{color: #fff;}
    }
}
.chart-nobg{
    //rect{fill:transparent;}
}
.block-shadow-top {
    background: url(../images/shadow.png) no-repeat center top;
}
address {
    i {
        background-color: @base_color;
        border-radius: 5px;
        color: #fff;
        height: 30px;
        margin-right: 10px;
        padding-top: 8px;
        text-align: center;
        width: 30px;
    }
}
.color {
    color: @base_color !important;
}
.block.custom-bgposition-right {
    background-position: 85% center !important;
}
.block.custom-bgposition-left {
    background-position: 15% center !important;
}
//Custom style og bxslider
.bx-controls {
    .bx-pager {
        a {
            width: 12px !important;
            height: 12px !important;
            background: #e5e5e5 !important;
            &.active {
                background: @base_color !important;
            }
        }
    }
}
.block.color-white {
    * {
        color: #fff;
    }
    .block-title,
    .block-subtitle {
        color: #fff;
    }
}
//Font awesome list
.fontawesome-icon-list a {
    color: #3c3c3c !important;
    line-height: 25px;
    &:hover {
        color: @base_color !important;
    }
}
.block {
    &.border-top {
        border-top: 1px solid #f5f5f5;
    }
}
.view.border-right-item {
    .dexp-grid-item {
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        &:nth-child(3n) {
            border-right: none;
        }
        &:nth-child(n+4) {
            border-bottom: none;
        }
    }
    @media (max-width: 480px) {
        .dexp-grid-item {
            border: none;
        }
    }
}

/*=============CONTACT FORM============*/

#contact-site-form,
#contact-site-form--2,
.webform-client-form {
    .form-item-mail {}
    .form-item-subject {}
    .form-item-copy {
        margin-bottom: 0;
    }
    .form-actions {
        margin-top: 10px !important;
    }
    .grippie {
        display: none;
    }
    .form-type-textarea textarea {
        height: 140px;
    }
    .form-required {
        color: #C51010;
        font-weight: 400;
        vertical-align: middle;
        font-size: 13px;
    }
    .form-item-copy input {
        margin-top: 0;
    }
    .form-item.form-type-textfield input,
    .form-item.form-type-textarea textarea {
        padding: 10px;
        font-size: 12px;
    }
    .form-type-radio {
        input {
            margin-right: 5px;
            margin-top: 0;
        }
    }
    .form-text,
    textarea {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 2px;
        color: #fff;
        margin-bottom: 5px;
        padding: 8px;
        width: 100%;
    }
    .btn.form-submit {}
}
/*.user-info-from-cookie {
    .block-title {
        margin-bottom: 10px;
    }
    .form-text {
        margin-right: 0;
        padding-right: 0;
        width: 100% !important;
    }
    .description {
        display: none;
    }
    .btn.form-submit {
        height: 50px;
        width: 100%;
        font-size: 16px;
        background-color: #5cb85c;
        border-color: #5cb85c;
    }
}
@media (max-width: 768px) {
    #contact-site-form {
        padding: 0px !important;
    }
    #block-block-178 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}*/
.small-form {
    .form-type-textfield {
        width: 100% !important;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .form-type-textfield input {
        width: 100% !important;
        height: 34px !important;
        background-color: #363636;
        border: solid 1px #222222;
        color: #656565;
    }
    textarea {
        background-color: #363636;
        border: solid 1px #222222;
        color: #656565;
        height: 80px !important;
    }
}
//Not Found
.coming-soon-wrapper {
    .not-found {
        h1 {
            color: @base_color;
            font-size: 300px;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }
        p {
            color: #999 !important;
            font-family: Athelas;
            font-size: 24px;
            font-style: italic;
            margin: 0 !important;
            padding: 0 !important;
        }
    }
    padding-bottom: 100px;
}
//Medical Camps & Services
.custom-service-box,
.custom-service-details {
    background: #f8f7f7;
    border-bottom: 1px solid #e9e9e9;
    display: inline-block;
    margin-bottom: 20px;
    padding: 20px;
    .ImageWrapper {
        width: 120px;
        height: 120px;
        .border-radius(50%, 50%, 50%, 50%);
        .portfolio-images {
            img {
                width: 120px;
                height: 120px;
            }
        }
        &:hover {
            .portfolio-tools {
                opacity: 1;
                z-index: 999;
            }
        }
    }
    .res-title h3 {
        font-size: 18px;
    }
    .meta {
        margin: 10px 0;
        padding: 0;
        span {
            display: inline-block;
            padding: 2px 30px;
            font-size: 14px;
            font-weight: bold;
            font-style: italic;
            &.service-type {
                color: #fff;
                .border-radius(20px, 20px, 20px, 20px);
            }
            &.service-date {
                padding-left: 10px;
            }
            i {
                padding-right: 10px;
            }
        }
    }
}
.custom-service-details {
    background: transparent;
    padding: 0;
    border-bottom: none;
    margin-bottom: 50px;
}
//Quick tabs
.quicktabs-wrapper {
    background-color: #f8f7f7;
    ul {
        padding: 18px 0;
        li {
            margin: 0;
            padding: 0;
            a {
                border-radius: 0;
                font-size: 16px;
                padding: 20px 25px !important;
                text-decoration: none;
            }
            &.active {
                a {
                    background-color: @base_color;
                    color: #fff;
                }
            }
        }
    }
    .quicktabs_main {
        padding: 0 20px 20px 20px;
    }
    .form-actions {
        text-align: right;
        .btn {
            background-color: @base_color;
            padding: 5px 10px;
            color: #fff;
        }
    }
    .webform-component-markup h3 {
        font-family: Athelas;
        font-size: 20px;
        font-style: italic;
    }
}
.webform-component {
    .form-select,
    .form-text {
        height: 34px;
        padding: 6px 12px;
        width: 100%;
    }
    .webform-datepicker .form-select {
        width: 30%;
    }
}
.breadcrumb {
    background: none;
}
blockquote {
    font-family: Athelas;
    font-size: 24px !important;
    font-style: italic;
    margin: 0;
    padding: 20px;
    &.custom {
        background: #343434 none repeat scroll 0 0;
        border-left: 0 none;
        color: #fff;
        font-size: 1.25em;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 20px;
        padding: 2em;
        text-align: left;
    }
}
.drop-caps {
    p:first-child::first-letter {
        color: #434b55;
        display: block;
        float: left;
        font-family: Georgia;
        font-size: 75px;
        line-height: 60px;
        margin-right: 10px;
        margin-top: 5px;
        padding: 4px;
    }
    &.full {
        p:first-child::first-letter {
            background: #232323 none repeat scroll 0 0 !important;
            color: #fff;
            margin-right: 10px;
            padding: 7px;
        }
    }
}
ul.circled,
.circled ul {
    list-style: outside none none;
    padding: 0;
    li {
        line-height: 36px;
        list-style: none;
        list-style-image: none;
        list-style-type: none;
        &:before {
            line-height: 36px;
            color: @base_color;
            ;
            content: "\f10c";
            font-family: FontAwesome;
            font-size: 8px;
            font-weight: normal;
            margin-right: 10px;
            padding-top: 1px;
            vertical-align: top;
        }
        a {
            color: #999;
            &:hover {
                color: @base_color;
            }
        }
    }
}

/* 404 Pages
================================================== */

.not-found-page {
    #not-found {
        position: relative;
        h2 {
            font-size: 280px;
            font-weight: bold;
            line-height: 100%;
            display: block;
            text-align: center;
            color: #ccccd2;
        }
        h3 {
            font-weight: 600;
            color: #666670;
            font-size: 40px;
            text-align: center;
            line-height: 36px;
            margin-top: -175px;
            margin-bottom: 120px;
        }
        @media (max-width: 480px) {
            h2 {
                font-size: 160px;
            }
            h3 {
                font-size: 20px;
                margin-top: -125px;
                margin-bottom: 55px;
            }
        }
    }
    p {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
        color: #b9bec3;
    }
    a:hover i {
        color: #fff!important;
    }
}
.black-on-image {
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    border-radius: 2px;
    color: #fff;
    padding: 30px 60px 20px;
    * {
        color: #fff;
    }
    .block-webform {
        .form-item {
            margin: 0;
        }
        .block-title {
            text-transform: capitalize;
            font-size: 44px;
            font-weight: 300;
            margin-bottom: 20px;
            font-size: 24px;
        }
        .form-text,
        .form-textarea {
            background: rgba(255, 255, 255, 0.1) !important;
            border: 1px solid rgba(255, 255, 255, 0.2) !important;
            box-shadow: none;
            color: #fff;
            height: 50px;
            line-height: 25px;
            margin-bottom: 20px;
            padding-right: 0;
        }
        .btn {
            background-color: #5cb85c;
            border-color: #5cb85c;
            &:hover {
                background-color: #3c3c3c;
                border-color: #3c3c3c;
            }
        }
    }
}
.block.overlay {
    position: relative;
    .inner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        opacity: 0.5;
    }
}

/*===================
about page
======================*/

.border-right-box {
    border-right: 1px dashed #788;
}
.box-top-about {
    .dexp-shortcodes-box {
        .box-center {
            padding: 30px 0px 10px;
        }
    }
}
.section-dark {
    text-align: center;
    p {
        color: #fff;
        margin: 0;
    }
    .section-title {
        h1 {
            text-align: center;
            color: #fff;
            margin-bottom: 25px;
        }
    }
    &.section-dark-service {
        .section-title {
            h1 {
                text-align: left !important;
            }
        }
    }
}
.box-full-image {
    .dexp-shortcodes-box.box-center {
        .box-icon img {
            height: auto;
            width: 100%;
        }
    }
    .box-title {
        color: #444;
        font-size: 16px;
        text-align: left;
        text-transform: uppercase;
        margin: 15px 0px 5px;
    }
    p {
        color: #788 !important;
        text-align: left;
        font-size: 14px;
    }
}
.page-section-skill p {
    color: #EFEFEF;
}
#block-block-105 {
    background-color: @base_color;
    h1 {
        font-size: 32px;
        color: rgba(254, 254, 254, 0.9);
        text-align: center;
    }
    p {
        color: rgba(254, 254, 254, 0.9);
    }
}
.block-block {
    .milestone-counter {
        margin-bottom: 30px;
        &.fact-bg-dark {
            background: rgba(0, 0, 0, 0.1);
            z-index: 4;
            position: relative;
        }
        .milestone-details {
            color: #FCFCFC;
        }
    }
}
.block-block {
    &.block-facts {
        position: relative;
        .inner {
            opacity: 0.6;
            background: #453951 none repeat scroll 0% 0%;
            position: absolute;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            z-index: 1;
        }
        .dexp-shortcodes-box {
            position: relative;
            background-color: @base_color;
            padding: 40px;
            box-shadow: 0px 0px 15px rgba(20, 20, 20, 0.4);
            z-index: 5;
        }
        .box-title {
            margin-left: 0px !important;
            margin-bottom: 30px !important;
            color: rgba(254, 254, 254, 0.9);
            font-size: 28px;
            margin-top: 0;
            font-family: "Raleway", sans-serif;
        }
        p {
            color: rgba(254, 254, 254, 0.9);
        }
    }
}
.box-services1 {
    .dexp-shortcodes-box.box-center {
        .box-icon img {
            width: 100%;
            height: 100%;
        }
    }
}
.view-portfolio {
    ul.dexp-grid-filter {
        border-bottom: none;
        padding-bottom: 0px;
    }
}
ul.dexp-grid-filter {
    border-bottom: 1px solid @base_color;
    padding-bottom: 5px;
}
body.page-node-117 #section-top-content {
    margin-top: 75px;
    .page-section-top {
        .dexp-shortcodes-box {
            margin: auto;
        }
    }
}
.page-section-career-bottom {
    .section-title h1 {
        text-align: center !important;
        margin-bottom: 60px;
    }
    .box-title::after {
        content: "";
        display: block;
        background-color: transparent;
        border-bottom: 1px dashed #788;
        width: 80px;
        margin: 15px auto 18px;
    }
}
.page-section-career {
    margin-bottom: 40px;
    position: relative;
    height: 450px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}
.page-section-box-img {
    .dexp-shortcodes-box.box-left .box-icon,
    .dexp-shortcodes-box.box-right .box-icon {
        width: 33%;
        height: 100%;
        margin-bottom: 30px;
        img {
            height: 200px;
            width: 200px;
        }
    }
    .dexp-shortcodes-box.box-right {
        .box-title,
        .box-content {
            text-align: left;
        }
    }
}
.page-section-top {
    .content {
        position: relative;
        z-index: 3;
    }
    .box-title {
        color: rgba(254, 254, 254, 0.9);
        font-size: 28px;
        margin: 0px 0px 30px;
        font-family: "Raleway", sans-serif;
        line-height: 36px;
    }
    p.box-content {
        font-family: "Raleway", sans-serif;
        font-size: 15px;
        color: rgba(254, 254, 254, 0.9) !important;
        font-weight: 500;
        margin: 0;
    }
}
.views-testimonial-about {
    .view-content::before {
        content: "";
        font-size: 32px;
        color: @base_color;
        display: inline-block;
        font-family: FontAwesome;
    }
    p {
        color: rgba(254, 254, 254, 0.9);
        font-size: 16px;
        font-family: "Raleway";
        line-height: 28px;
    }
    .bx-wrapper {
        margin-top: 30px !important;
    }
    .views-field-title a {
        font-size: 22px;
        font-weight: 600;
        margin: 30px 0px 6px;
    }
}
.white-box {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 25px 20px 30px;
    p,
    h1 {
        font-family: "Raleway", sans-serif;
    }
    h1 {
        font-size: 28px;
    }
    p {
        margin-bottom: 0 !important;
    }
}
.page-section-icon {
    a {
        margin: 15px 0px 40px;
        text-align: center;
        display: block;
        font-size: 18px;
        color: #444;
        .transition(all, 0.4s, ease);
        &:hover {
            color: @base_color;
            .fa {
                color: @base_color;
            }
        }
    }
    .fa {
        color: #788;
        display: block;
        margin-bottom: 15px;
    }
}
.page-section-image {
    .dexp-grid-item {
        border: none !important;
        text-align: center;
    }
}
.blockquote {
    background: transparent none repeat scroll 0% 0%;
    border-left: 3px solid @base_color;
    padding: 10px 20px;
    margin: 0px 0px 20px;
    .box-title,
    h1 {
        margin-top: 0px !important;
    }
}
.page-clients {
    margin-bottom: 0px !important;
}
.col-left {
    padding-left: 0px !important;
}
.col-right {
    padding-right: 0px !important;
}
.rounded-image img{
    border-radius: 6px;
}
.nostyled{
    p{
        margin: 0 !important;
    }
    .fa-check{
        color: inherit !important;
    }

}
.job-location{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Raleway",sans-serif;
    font-weight: 500;
    margin: 8px 0px 25px;
}
.job-location::after{
    content: "";
    display: block;
    height: 1px;
    width: 30px;
    margin-top: 5px;
    border-top: 1px dashed @base_color;
}
.jobs-list{
    a{
        color: inherit !important;
        &:hover{
            color: @base_color !important;
        }
    }
    p{
        margin-bottom: 10px !important;
    }
}


.col-offset-left{
    margin-left: 21.8% !important;
    width: 77% !important;
    @media(max-width:@screen-sm){
        margin-left: 0% !important;
        width: 100% !important;
    }
}
.alert-info1 p{
    color: #31708F ;
}
.bx-wrapper{
  max-width: 100% !important;
  .bxslide{
    /*width: 100% !important;*/
  }
}
