// Portfolio filter style
.dexp-grid-item-inner {
  &.bg-white {
    background-color: transparent;
  }
}
.selection {
  text-shadow: none;
  color: #FFF !important;
  background: @base_color !important;
  padding: 3px 10px;
}
ul.dexp-grid-filter {
  padding: 0;
  margin: 0 0 50px;
  text-align: left;
  li {
    margin-top: 10px;
    display: inline-block;
    a {
      margin: 0px;
      padding: 8px 12px;
      border-radius: 1px;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: normal;
      color: @text_color;
      text-transform: capitalize;
      .transition(all, 0.3s, ease-in);
      &:hover,
      &.active {
        background-color: @link_color;
        color: #FCFCFC;
        .transition(all, 0.3s, ease-in);
      }
    }
  }
}
.view-portfolio{
  // Teaser mode portfolio
  .portfolio-tools {
    .middle-center();
    opacity: 0;
  }
  .node:hover {
    .portfolio-tools {
      opacity: 1;
    }
  }
}
.node-dexp-portfolio {
  .product-details-wrap {
    .nav-tabs {
      border-bottom: 1px solid @base_color;
    }
    margin: 0px;
    .field-name-field-features {
      .fa {
        float: left;
        width: 50%;
      }
    }
  }
  .fa {
    margin: 0;
  }
  h2 {
    line-height: 24px;
  }
  .portfolio-image {
    img {
      display: block;
      position: relative;
      .transition(all, 0.3s, ease-in-out, 0.4s);
      &:hover {
        .delay(0);
      }
    }
  }
  &.view-mode-portfolio_style_3,
  &.view-mode-portfolio_classic {
    .content {
      text-align: center;
      &:hover {
        .portfolio-info-title {
          &::after {
            width: 50%;
            margin-left: 25%;
          }
        }
      }
    }
    .blog-body {
      p {
        color: #808080;
      }
    }
    .portfolio-image {
      position: relative;
      &:hover {
        a.info {
          opacity: 1;
          margin-top: 0;
        }
        .portfolio-info1 {
          opacity: 1;
        }
      }
    }
    .portfolio-info1 {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      top: 0px;
      left: 0px;
      text-align: center;
      background-color: rgba(69, 57, 81, 0.8);
      opacity: 0;
      .transition(all, 0.3s);
      &:hover {
        opacity: 1;
        .delay();
      }
    }
    a.info {
      width: 55px;
      line-height: 55px;
      background: rgba(20, 20, 20, 0.3);
      color: #fff;
      border-radius: 50%;
      font-size: 30px;
      .transition(all, 0.3s);
      .middle-center();
      margin-top: 50%;
      &:hover {
        background: @base_color;
        box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.6) inset;
      }
    }
    a.xinfo {
      display: inline-block;
      padding: 15px;
      background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
      color: rgba(254, 254, 254, 0.9) !important;
      font-size: 32px;
      border-radius: 50%;
      text-align: center;
      opacity: 0;
      .translateY(100px);
      .transition(all, 0.3s, ease-in);
      position: relative;
      top: 50%;
      &:hover {
        background: @base_color none repeat scroll 0% 0%;
      }
    }
    .portfolio-info-title {
      font-size: 22px;
      margin: 25px 0px 20px;
      padding: 0px 15px;
      font-weight: 400;
      color: #444;
      &::after {
        content: "";
        display: block;
        height: 1px;
        background-color: @base_color;
        width: 14%;
        margin-left: 43%;
        margin-top: 14px;
        .transition(all, 0.3s);
        &:hover {
          width: 50%;
          margin-left: 25%;
        }
      }
    }
  }
  &.view-mode-portfolio_style_2, &.view-mode-portfolio_masonry{
    height: 100%;
    .portfolio-info {
      padding: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: hidden;
      text-align: center;
      top: 0px;
      left: 0px;
      background-color: rgba(69, 57, 81, 0.8);
      opacity: 0;
      .transition(all, 0.3s, ease-in, 0.4s);
      h3.portfolio-title{
        color: #fff;
      }
      &:hover {
        opacity: 1;
        .delay();
        .portfolio-info-bordered {
          opacity: 1;
          .scale(1);
        }
        .fa {
          .transition(all, 0.3s, ease-in);
          background-color: rgba(20, 20, 20, 0.3);
        }
      }
    }
    .portfolio-info-bordered {
      position: absolute;
      left: 20px;
      top: 20px;
      right: 20px;
      bottom: 20px;
      border: 1px solid #FCFCFC;
      padding: 15px;
      opacity: 0;
      .scale(2);
      .transition(all, 0.3s, ease-in, 0.1s);
      .portfolio-in-inner {
        width: 90%;
        .middle-center();
      }
      .fa {
        padding: 15px;
        border-radius: 50%;
        color: #F8F8F8;
        margin: 7px;
        background-color: rgba(20, 20, 20, 0.3);
        .transition(all, 0.3s, ease-in);
        &:hover {
          background-color: @base_color;
          box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.6) inset;
        }
      }
    }
  }
  &.view-mode-teaser {
    .portfolio-info{
      background-color: rgba(69, 57, 81, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      .transition(all,0.3s);
      .inner{
        width: 90%;
        .middle-center();
        text-align: center;
        h3.portfolio-title{
          font-size: 24px;
          color: #fff;
          font-family: "Raleway",serif;
          font-weight: 400;
          .transition(all,0.3s,ease-in-out);
          .scale(10);
        }
        .blog-body{
          .transition(all,0.3s,ease-in-out);
          .scale(10);
          color: @base_color;
          font-size: 14px;
        }
        a.info{
          .transition(all,0.3s);
          font-size: 30px;
          color: #fff;
          width: 55px;
          height: 55px;
          text-align: center;
          line-height: 55px;
          border-radius: 50%;
          background: rgba(0, 0, 0, 0.2);
          display: inline-block;
          margin-top: 50%;
          &:hover{
            background: @base_color;
            box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.6) inset;
          }
        }
      }
      &:hover{
        opacity: 1;
        h3.portfolio-title,.blog-body{
          .scale(1);
        }
        a.info{
          margin-top: 0;
        }
      }
    }
  }
}
h3.portfolio-title {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.3;
  margin: 0 0 8px;
  padding: 0;
  /*text-transform: uppercase;*/
  text-align: center;
  a {
    color: @text_color;
  }
}
.field-name-field-portfolio-categories {
  text-align: center;
  text-transform: capitalize;
  .field-items {
    .field-item {
      display: inline-block;
      &:after {
        content: ",";
        margin-right: 5px;
      }
      &:last-child {
        &:after {
          content: "";
          margin-right: 0;
        }
      }
    }
  }
}
.portfolio-details {
  .fa {
    margin-right: 10px;
    color: @base_color;
  }
  .field {
    margin-top: 0px;
    padding-top: 0px;
    display: inline-block;
    &:first-child {
      width: 100%;
      border-top: none;
    }
  }
  .item-media {
    img {
      width: 100%;
      height: auto;
    }
  }
  .item .item-label {
    display: inline-block;
    margin-right: 10px;
    label {
      padding-top: 10px;
      font-weight: 700 !important;
    }
  }
}
.title-medium {
  color: #555;
  font-family: "Raleway", sans-serif;
  font-size: 30px !important;
  font-weight: 400px;
  line-height: 42px !important;
}
.group-portfolio-info {
  .field {
    border-bottom: 1px solid #eee;
    line-height: 35px;
  }
  .sharethis-buttons {
    line-height: 35px;
  }
}
.dexp-bxslider {
  img {
    width: 100%;
    height: auto;
  }
}
.field-name-field-portfolio-media {
  margin-bottom: 30px;
}
