.search-toggle {
  color: #000;
  transition: all 0.3s linear 0s;
  width: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
body {
  &.ltr {
    #section-header #block-search-form {
      .search-form-block-wrapper {
        right: 0;
        input[type=submit] {
          right: 30px;
          @media (max-width: 767px){
            right: 20px;
          }
        }
      }
    }
  }
  &.rtl {
    #section-header #block-search-form {
      .search-form-block-wrapper {
        left: 0;
        input[type=submit] {
          left: 30px;
          @media (max-width: 767px){
            left: 20px;
          }
        }
      }
    }
  }
  &.search-open {
    #section-header #block-search-form .search-form-block-wrapper {
      display: block;
    }
  }
}
#section-header #block-search-form {
  position: relative;
  width: 40px;
  height: 40px;
  .search-form-block-wrapper {
    display: none;
    box-shadow: 1px 1px 3px 0 rgba(32, 32, 32, 0.5);
    top: @header_height/2 + 20px;
    background: rgba(30, 30, 30, 0.9);
    padding: 20px 30px 5px;
    position: absolute;
    z-index: 999;
    @media (max-width: 767px) {
      padding: 20px 20px 5px;
    }
    .form-type-textfield {
      float: left;
      width: 100%;
      margin: 35px 0;
      input[type=text] {
        background-color: #fff;
        border: medium none;
        color: #000;
        padding: 0 15px;
        width: 300px;
        line-height: 40px;
        height: 40px;
        border-radius: 0;
        @media (max-width: 767px) {
          width: 250px;
        }
      }
    }
    input[type=submit] {
      background-color: @base_color;
      font-size: 12px;
      padding: 0 15px;
      position: absolute;
      text-transform: uppercase;
      top: 20px;
      border: 0;
      border-radius: 0;
      line-height: 40px;
      &:hover,
      &:focus {
        color: #fff;
      }
    }
  }
}
/* Search page */
#search-form{
  .container-inline{
    display: inline-flex;
    input[type=submit]{
      height: 34px;
    }
    input[type=text]{
      margin-right: 10px;
    }
  }
  label{
    min-width: 200px;
  }
}
