/* ################################################################
	SHOP ITEM STYLE IN GRID
################################################################# */
.product-grid-view {
  .product-item {
    margin-bottom: 30px;
    &:hover {
        border: solid 1px @base_color;
        .product-overlay {
          opacity:1;
          .transition(all,0.2s,ease);
      }
    }
    figure {
      position: relative;
      overflow: hidden;
      img {
        max-width: 100%;
        height: auto;
        .transition(all, 0.3s, ease-out);
      }
      .product-overlay {
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:100%;
        text-align:center;
        opacity: 0;
        .transition(all,0.3s,ease);
        background:#f9f9f9;
        .hover-info {
          .middle-center();
        }
        .see,.add {
          .border-radius(2px, 2px, 2px, 2px);
        }
        .see {
          margin-right:5px;
        }
        i.fa{ 
          margin-right:0;
        }
      }
    }
    .shop-desc {
      text-align: center;
      background-color: #f9f9f9;
      padding: 20px;
      h5.product-title {
        margin-bottom: 4px;
        text-align: center;
        font-size: 17px;
      }
    }
  }
}

/*################################################################
	LIST VIEW PRODUCT
################################################################# */

.product-list-view {
  .dexp-list-item {
    margin: 0 15px 30px 15px;
    background:#f9f9f9;
    .list-wrap {
      .shop-desc {
        padding:20px 10px;
      }
      h4.product-title {
        margin-bottom:12px;
        font-size:21px;
      }
    }
  }
}

/*################################################################
  PRODUCT ITEM TEASER MODE
################################################################# */
.product-item {
  &.node-teaser {
    border: solid 1px #ddd;
    .border-radius(3px,3px,3px,3px);
    .shop-buttons {
      margin-top:30px;
    }
    .attribute-widgets {
      display: none;
    }
    .list-wrap {
      display:none;
    }
    .product-title {
      color: #555;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 2px;
      a {
        color: #555;
      }
    }
    .sale {
      color: #fcfcfc;
      text-align: center;
      padding: 10px 20px;
      background: #B32439;
      position: absolute;
      z-index: 100;
      .border-radius(2px,0,0,0);
      .transition(all, 200ms, ease-in-out);
    }
    .commerce-add-to-cart {
      input {
        text-indent: -99999px;
        border: 0 none;
        background-color: transparent;
        &:hover {
          background: transparent;
        }
      }
    }
    .field-type-commerce-product-reference {
      height:1px;
    }
  }
}

/*################################################################
	SINGLE PRODUCT
################################################################# */

.shop-single {
  .product-title {
    font-size: 26px;
    color: #666666;
    margin-bottom:12px;
  }
  .shop-left {
    img {
      width: 100%;
      height: auto;
    }
  }
  .rating {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .price {
    color: #999;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 30px;
  }
  .short-desc {
    margin: 20px 0;
  }
}
.product-details-wrap {
  margin: 30px 0 90px 0;
}
.flag-wishlist {
  border: 0 none;
  background-color: @base_color;
  color: #fff;
  display: inline-block;
  letter-spacing: 1px;
  line-height: 40px;
  padding: 0 12px;
  .transition(all, 0.3s, ease-in-out);
  &:hover {
    background-color: #505460;
    border-color: #505460;
    color: #fff;
    .transition(all, 0.3s, ease-in-out);
    a,
    span {
      color: #FFF;
    }
  }
  a,
  span,
  i {
    color: #FFF;
  }
}
.view-related-products {
  padding-top: 20px;
  .view-content {
    padding-top: 20px;
  }
}

/*################################################################
	STYLE COMMON REUSE IN SHOP ITEM AND SHOP SINGLE
################################################################# */

.btn-products {
  margin-top: 20px;
  .add-to-wishlist {
    display: inline-block;
    a {
      color: #282828;
      font-weight: 500;
    }
    i {
      padding-right: 5px;
    }
  }
  .field-name-field-product {
    display: inline-block;
    .form-submit {
      letter-spacing: 1px;
      border-radius: 0;
      margin-top: -3px;
      &:hover {
        background-color: #505460;
        border-color: #505460;
      }
    }
  }
}
.attribute-widgets {
  label {
    display: none;
  }
  .form-type-radio {
    display: inline-block;
  }
}
.field-name-field-product .form-item.form-item-quantity {
  display: inline;
  margin-right: 10px;
}
.rating {
  i {
    padding-right: 3px;
    color: #fad31f;
    font-size: 12px;
  }
}
.commerce-price-rrp-your-price {
  width: 100%;
  tbody {
    border-top: 0 none;
  }
  tr,
  td {
    display: inline-block;
    padding: 0;
  }
  .rrp-title,
  .webprice-title {
    display: none;
  }
  .webprice-total {
    color: @base_color !important;
    padding: 0px;
    font-size: 18px;
    font-weight: normal;
  }
  .rrp-total {
    padding-right: 4px;
    font-size: 16px;
    color: #adb7bd;
  }
}
.commerce-add-to-cart {
  input[type="text"] {
    color: #333333;
    height: 34px;
    line-height: 30px;
    margin: 0;
    padding: 5px;
    width: 50px;
    margin-top:-8px;
  }
  label {
    display: none;
  }
}
#comments_wrapper .comment-avatar img {
  background-color: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 0;
  display: inline-block;
  height: auto;
  line-height: 1.42857;
  max-width: 100%;
  padding: 9px;
  .transition(all, 0.2s, ease-in-out);
}

/*################################################################
	CART PAGE
################################################################# */

.page-cart {
  .view-commerce-cart-form {
    .views-table {
      width: 100%;
      border: 1px solid #DDDDDD;
      tr {
        &.odd,
        &.even {
          background: none;
        }
      }
    }
    i:hover {
      color: @base_color;
    }
    .views-field-edit-delete {
      text-align: center;
      .delete-line-item {
        background: transparent;
        display: inline-block;
        height: 18px;
        margin-left: -15px;
        padding-left: 0!important;
        text-indent: -9999px;
        width: 18px;
        border: 0 none;
      }
    }
    #edit-submit {
      margin-right: 10px;
    }
  }
}

/*################################################################
	PRODUCT WIDGETS SIDEBAR
################################################################# */

.view-top-products-rating,
.view-products-sale, .view-related-products {
  ul {
    list-style: none;
    li {
      list-style-type: none;
      margin: 0 0 20px 0;
    }
  }
  .views-row {
    margin-bottom:20px;
  }
  .product-info {
    padding-left:85px;
  }
  .recent_post_img {
    float:left;
    img {
      width: 75px;
      height: auto;
      .transition(opacity, 0.2s, ease-in-out);
      &:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        -moz-opacity: 0.6;
        -khtml-opacity: 0.6;
        opacity: 0.6;
      }
    }
  }
  h4 {
    margin-bottom: 3px !important;
    padding-bottom: 0 !important;
    a {
      color: #666666;
      font-size: 17px ;
    }
  }
  .rating {
    text-align: left;
  }
}
.view-bestsellers {
  ul {
    list-style: none;
    li {
      list-style-type: none;
      margin-left: 0;
      clear: left;
      min-height: 120px;
      img {
        float: left;
        width: 75px;
        margin: 0 10px 0 0;
        .transition(opacity, 0.2s, ease-in-out);
        &:hover {
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
          filter: alpha(opacity=60);
          -moz-opacity: 0.6;
          -khtml-opacity: 0.6;
          opacity: 0.6;
        }
      }
      h4.title {
        margin-bottom: 3px;
      }
      a {
        font-size: 14px;
        font-weight: 600;
        color: #83939C;
        text-transform: uppercase;
      }
      .views-field-commerce-price {
        font-size: 15px;
        color: @base_color;
      }
      .views-field-field-rating {
        display: inline-block;
      }
    }
  }
}
.view-wishlist,
.view-commerce-cart-summary,
.view-commerce-cart-form {
  thead {
    > tr >th {
      background: #f6f6f6;
      color: #464b50;
      vertical-align: top;
      font-size: 14px;
      font-weight: 600;
      padding: 10px 15px;
      border: 1px solid #e5e5e
    }
  }
}
.table-bordered>tbody>tr>td {
  vertical-align: middle;
  border:0;
  border-bottom: solid 1px #ddd;
}

/*################################################################
	CHECKOUT PAGE
################################################################# */

.views-table {
  width: 100%;
  border: 1px solid #e5e5e5;
  tr,
  th {
    background: none;
    td {
      padding: 8px;
      border: 1px solid #e5e5e5;
      vertical-align: middle;
    }
  }
}
#commerce-checkout-form-checkout,
#commerce-shipping-service-ajax-wrapper {
  fieldset.collapsed {
    height: 60px !important;
    margin-bottom: 20px;
  }
  legend {
    border: 1px solid #e5e5e5;
    padding: 16px;
    span,
    a {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 5px;
      font-weight: 600;
      padding-left: 10px;
      color: #3c3c3c;
      &:hover {
        color: @base_color;
      }
    }
    &:hover {
      border-color: @base_color;
    }
  }
  .form-item {
    width: 100%;
  }
  .form-text,
  select {
    .box-shadow(0, 1px, 1px, 0.075);
    color: #656565;
    display: block;
    font-size: 12px;
    height: 34px;
    line-height: 1.42857;
    margin-bottom: 10px;
    padding: 6px 12px;
    .transition(border-color, 0.15s, ease-in-out);
    .transition(box-shadow, 0.15s, ease-in-out);
    vertical-align: middle;
    width: 100%;
  }
  table.commerce-price-formatted-components {
    margin-bottom: 10px;
    tbody {
      border: none;
    }
    tr {
      border: none;
      background: none;
    }
  }
}
table.checkout-review {
  width: 100%;
  tbody {
    border: none;
  }
  tr {
    border: none;
    background: none;
  }
}
.checkout-buttons {
  text-align: right;
  margin-bottom: 40px;
  .button-operator {
    display: none;
  }
  .checkout-continue,
  .checkout-cancel {
    background: @base_color;
    color: #FFF;
    height: 35px;
  }
  .checkout-cancel {
    display: inline-block;
    color: #FFF;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 15px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
    background: @base_color;
    text-decoration: none !important;
    &:hover {
      background: #4e4e4e;
      color: #FFF;
    }
  }
}

/*#################################################################
	QUANTITY PRODUCT
################################################################# */

input[id^=edit-quantity],
input[id^=edit-edit-quantity] {
  width: 50px !important;
  height: 34px;
  text-align: center;
  border:solid 1px #ddd !important;
  margin-top:-4px;
}
.commerce-quantity-plusminus-link-decrease,
.commerce-quantity-plusminus-link-increase {
  display:inline-block;
  a {
    box-shadow: none;
    color: #666;
    display:inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 0 !important;
    height: 34px;
    line-height: 34px;
    border: solid 1px #ddd;
    text-align: center;
    width: 34px;
    border-radius: 0 !important;
    background-color: #f6f6f6;
  }
}

/*#################################################################
	FACET BLOCKS
################################################################# */
#block-search-api-sorts-search-sorts {
  position: absolute;
  margin-left:93px;
}
.view-shop-fullwidth,
.view-products {
  .view-content {
    margin-top:35px;
  }
  .view-filters {
    position: absolute;
    margin-top: -37px;
    left: 295px;
    z-index: 100;
  }
  label {
    display: none;
  }
  .views-widget-per-page {
    padding: 0;
  }
}
.result-found {
  margin-top: 15px;
}
.facet-list {
  ul {
    margin-top: 10px;
    li {
      list-style: none;
      margin: 0 0 10px 0;
      color: #777777;
      font-size: 16px;
      input[type="checkbox"] {
        margin-right: 10px !important;
      }
      a {
        color: #777777;
        font-size: 14px;
        &:hover {
          color: @base_color;
        }
      }
    }
  }
  select {
    width: 100%;
  }
}
.current-search-item {
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      font-size: 16px;
      display: inline;
      padding-right: 20px;
      margin: 0;
    }
  }
}
.range-box {
  &.range-box-right {
    margin-top:20px;
  }
}
.form-item-range-from,.form-item-range-to {
  input {
    width:100%;
  }
}
.ui-widget-content,.ui-state-default{
  border-color: @base_color ;
}
.ui-slider .ui-slider-range {
  background: @base_color;
}
/*#################################################################
	WISHLIST PAGE
################################################################# */

.view-wishlist {
  margin-bottom: 40px;
  i {
    padding-right: 5px;
  }
}
#block-dc-ajax-add-cart-ajax-shopping-cart {
  margin-bottom: 20px;
  .ajax-shopping-cart-wrapper {
    width: 100%;
  }
}
#block-views-simple-shopping-cart-block {
  position: relative;
  margin: 0 0 0 10px;
  text-align: center;
  width: 15px;
  a {
    span {
      color: #fff;
      height: 15px;
      width: 15px;
      display: block;
      position: absolute;
      top: -5px;
      right: -5px;
      font-size: 9px;
      background-color: @base_color;
      border-radius: 50%;
      text-align: center;
      line-height: 15px;
    }
  }
}

/*#################################################################
   Toolbar SHOP
################################################################# */
#block-search-api-sorts-search-sorts {
  position: absolute;
  margin-left:93px;
}
