.tp-dottedoverlay.op2{
	background: #453951;
	opacity: 0.2;
}
.tp-caption{
  span.color{
    color: @base_color;
  }
  span.border{
    border-top: 3px solid @base_color;
    border-bottom: 3px solid @base_color;
  }
}
