/*
    Created on : Mar 14, 2015, 10:22:58 AM
    Author     : DrupalExp
*/

/* ================================
SKELETON STYLE
=================================== */

body {
  background: #FCFCFC none repeat scroll 0% 0%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  .dexp-body-inner {
    margin: 0 auto;
  }
}
body.boxed {
  &.bg1 {
    background-image: url('../images/bg/1.png');
  }
  &.bg2 {
    background-image: url('../images/bg/2.png');
  }
  &.bg3 {
    background-image: url('../images/bg/3.png');
  }
  &.bg4 {
    background-image: url('../images/bg/4.png');
  }
  &.bg5 {
    background-image: url('../images/bg/5.png');
  }
  &.bg6 {
    background-image: url('../images/bg/6.png');
  }
  &.bg7 {
    background-image: url('../images/bg/7.png');
  }
  &.bg8 {
    background-image: url('../images/bg/8.png');
  }
  &.bg9 {
    background-image: url('../images/bg/9.png');
  }
  &.bg10 {
    background-image: url('../images/bg/10.png');
  }
  .dexp-body-inner {
    /*overflow: visible;*/
    background: #fff;
    max-width: @container_width;
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
h4 {
  margin-bottom: 8px;
}
.fw600 {
  font-weight: 600 !important;
}
.bg-gray {
  background-color: #f6f6f8;
}
.bg-white {
  background: #fff;
}
.color-white {
  color: #fff;
}
h2.block-title {
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 30px;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

/*Section bottom*/

body {
  #section-bottom {
    border-top: solid 2px @base_color;
    padding: 30px 0;
    color: #e0e0e0;
    .social-list {
      a {
        margin-left: 4px;
      }
    }
    h2.block-title {
      color: #f0f0f0;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      text-transform: none;
      margin-bottom: 24px;
      &.no-subtitle {
        &:before {
          content: unset;
        }
      }
    }
    .footer-blog {
      ul {
        li {
          &:before {
            content: "\f0a9";
            font-family: "FontAwesome";
            padding: 0 10px 0 1px;
            color: @base_color;
          }
          list-style-type: none;
          margin: 0 0 15px 0;
          a {
            color: #e0e0e0;
            &:hover {
              color: @base_color;
            }
          }
        }
      }
    }
  }
}
.block {
  &.big-title {
    h2.block-title {
      font-size: 36px;
      font-weight: 800;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
  }
  &.title-center {
    h2.block-title {
      text-align: center;
    }
    .block-subtitle {
      text-align: center;
      position: relative;
      margin-bottom: 80px;
      padding: 0 150px;
      position: relative;
      text-align: center;
      &:before {
        background: @base_color;
        bottom: -30px;
        content: "";
        height: 2px;
        left: 50%;
        margin-left: -15px;
        position: absolute;
        width: 30px;
      }
      @media (max-width: 768px) {
        padding: 0;
      }
    }
  }
}
#section-breadcrum {
  padding: 50px 0px 35px;
  text-align: right;
  margin-bottom: 90px;
}
#section-footer {
  padding: 20px 0;
  color: #778888;
  font-size: 13px;
  a {
    color: #778888;
    &:hover {
      color: @link_color;
    }
  }
}
.footer-hr {
  margin: 0 0 50px;
  border-top: 2px solid #3d3d3d;
  box-shadow: 0 0 2px rgba(0, 0, 0, .7);
}
#block-menu-menu-footer-menu {
  ul {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      margin: 0 15px 0 0;
      padding: 0;
      display: inline-block;
      &.last {
        margin-right: 0;
      }
    }
  }
}
.bg-gray {
  background: #f6f6f8;
}

/*Page title*/

#section-page-title {
  background-size: cover;
  background-position: center center;
  color: #FFF;
  .page_title_has_sub,
  .page_title_no_sub {
    padding: 30px 0;
    h1.page_title {
      font-size: 55px;
      letter-spacing: -1px;
      color: #000;
      line-height: 1;
    }
    p.page_subtitle {
      font-family: "Roboto Slab", serif;
      font-size: 22px;
      font-style: italic;
      font-weight: 300;
    }
  }
}
body.header-overlay {
  #section-page-title {
    padding-top: 20px;
    margin-top: 75px;
    h1.page_title {
      color: #fff;
    }
    &.has-banner {
      .page_title_has_sub,
      .page_title_no_sub {
        padding-top: 90px;
      }
    }
  }
}
#section-page-title {
  &.has-banner {
    h1.page_title {
      color: #fff;
    }
  }
}

/* ----------------------------------------------------
      Mailchimp footer block
------------------------------------------------------- */

.block-mailchimp-signup {
  .mailchimp-newsletter-mergefields {
    width: 70%;
    float: left;
    label {
      display: none;
    }
    input[type="text"] {
      width: 100%;
      height: 48px;
      font-size: 14px;
      line-height: 25px;
      border: 1px solid #ddd;
      resize: none;
      vertical-align: middle;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      background: none;
      .transition(all,
      0.3s,
      ease);
      border-radius: 2px 0px 0px 2px;
      color: #999;
    }
  }
  .form-actions {
    width: 30%;
    float: left;
    input[type="submit"] {
      height: 48px;
      border: none;
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 20px;
      .transition(all,
      0.3s,
      ease);
      width: 90px;
      border-radius: 0px 2px 2px 0px;
      color: #fff;
      text-align: center!important;
      text-transform: uppercase;
      font-weight: 600;
      margin-left: -4px;
    }
  }
}

/* ----------------------------------------------------
      BREADCRUMB
------------------------------------------------------- */


/* ----------------------------------------------------
      Partners (clients) 
------------------------------------------------------- */

#block-views-clients-block {
  img {
    max-width: 100%;
    opacity: 0.5;
    .transition(all,
    0.3s,
    ease);
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
#section-page-title {
  &.has-banner {
    padding: 200px 0 0 0;
    position: relative;
    overflow: hidden;
    .region-banner {
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 0;
      padding-right: 0;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}
.header-overlay .region-banner,
.header-transparent .region-banner {
  a.contextual-links-trigger {
    display: block !important;
  }
}
#messages {
  margin-top: 20px;
}

/*Loader*/

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 99999;
  text-align: center;
  opacity: 1;
}
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #3296dc;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
ul.pagination {
  margin-top: 15px;
}
.dexp-container ul.pagination {
  width: 100%;
  text-align: center;
  >li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}
.field-collection-container {
  border: none;
  margin: 0;
  .action-links {
    display: none;
  }
}
.field-collection-view {
  border-bottom: none;
  margin: 0;
}

/*BXSlider formatter*/

.bx-controls-direction {
  .bx-prev {
    background: rgba(255, 255, 255, 0.6);
    width: 40px !important;
    height: 40px !important;
    overflow: hidden;
    z-index: 500 !important;
    &:before {
      font-family: "FontAwesome";
      content: "\f104";
      display: block;
      color: @base_color;
      width: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 20px;
      text-indent: 0;
    }
  }
  .bx-next {
    background: rgba(255, 255, 255, 0.6);
    width: 40px !important;
    height: 40px !important;
    overflow: hidden;
    z-index: 500 !important;
    &:before {
      font-family: "FontAwesome";
      content: "\f105";
      display: block;
      color: @base_color;
      width: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 20px;
      text-indent: 0;
    }
  }
}
p {
  margin: 0px 0px 20px;
}
hr {
  margin: 30px 0px;
}
h1,
h2 {
  letter-spacing: -1px;
}
h1 {
  margin: 0px 0px 44px;
}
h2 {
  margin: 0px 0px 32px;
}
h3 {
  margin: 0px 0px 33px;
}
h4,
h5,
h6 {
  margin: 0px 0px 14px;
}
.title-left {
  &.title-wrapper {
    h1 {
      position: relative;
      margin-bottom: 40px;
      padding: 0px 0px 5px;
      border-bottom: 2px solid #E1E1E1;
      font-family: "Raleway", sans-serif;
      color: #606060;
      font-weight: 400;
      text-align: left;
      letter-spacing: normal;
      font-size: 30px;
      padding: 0px 0px 5px;
      text-transform: capitalize;
      line-height: 42px;
      margin: 0px 0px 32px 0px;
      &:before {
        border: none !important;
        width: 0%;
        height: 0%;
      }
      &:after {
        width: 7%;
        height: 2px;
        display: block;
        content: "";
        background-color: @base_color;
        position: absolute;
        bottom: -2px;
        left: 0%;
      }
      &.page_title {
        margin-bottom: 0px !important;
      }
    }
  }
}
#section-page-title {
  background-image: url('../images/shadow.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-color: @base_color;
  padding: 20px 0px;
  .page_title {
    letter-spacing: normal !important;
    padding: 9px 0px;
    font-size: 26px !important;
    margin: 0px;
    line-height: 36px !important;
    color: rgba(254, 254, 254, 0.9) !important;
  }
  .page_title_no_sub {
    padding: 0px;
  }
}
#section-content {
  padding: 60px 0px 55px;
}
#section-header {
  border-top: 2px solid @base_color;
}
.page-node-41,
.page-node-60,
.page-node-61,
.page-node-110,
.page-node-109,
.page-node-64,
.page-node-63,
.page-node-206 {
  #section-content {
    padding: 0;
  }
}

/* ----------------------------------------------------
      BREADCRUMB
------------------------------------------------------- */

.breadcrumb {
  text-align: right;
  margin: 10px 0px 0px 0px;
  li {
    color: rgba(255, 255, 255, 0.6);
    background-color: transparent;
    a {
      color: rgba(255, 255, 255, 0.8);
      &:hover {
        color: #fff;
      }
    }
  }
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #FCFCFC;
  background-color: @base_color;
}
.ex-colums {
  height: 60px;
  background-color: #EDEDED;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  padding: 16px 0px 0px 0px;
  margin: 0px 0px 20px 0px;
}
.dummy-text p {
  margin: 0;
  line-height: 200%;
}
.well {
  min-height: 20px;
  padding: 19px 19px 40px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  &.well-3 {
    background-color: #FCFCFC;
    border-width: 3px 1px 1px;
    border-style: solid;
    border-color: @base_color #DDD #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
  }
}

/* Back to Top */

.back-to-top {
  z-index: 99999;
  text-align: center;
  width: 40px;
  height: 40px;
  padding: 4px;
  position: fixed;
  bottom: -100px;
  right: 15px;
  cursor: pointer;
  overflow: auto;
  background: rgba(red(@base_color), green(@base_color), blue(@base_color), 0.7);
  color: #fcfcfc;
  .transition(all,
  .4s,
  ease-in);
  .border-radius(50px,
  50px,
  50px,
  50px);
  &:hover {
    background: @base_color;
    .transition(all,
    .2s,
    ease-in);
  }
}

/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  background: #fcfcfc;
  #status {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloader.GIF);
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
    margin: -45px 0 0 -45px;
  }
}
.group-sharethis {
  margin-top: 10px;
  h4,
  .sharethis-buttons {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
}
.sharethis-buttons {
  span[class*=_custom] {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    &.st_facebook_custom:before {
      content: "\f09a";
      font-family: fontawesome;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
    &.st_twitter_custom:before {
      content: "\f099";
      font-family: fontawesome;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
    &.st_googleplus_custom:before {
      content: "\f0d5";
      font-family: fontawesome;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
    &.st_linkedin_custom:before {
      content: "\f0e1";
      font-family: fontawesome;
      display: block;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
    }
  }
}
