.node-team{
  &.view-mode-teaser{
    .team-image{
      .field-name-field-image{
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        border: 1px solid @base_color;
        &:before{
          border-radius: 50%;
          display: block;
          content: "";
          background: rgba(0,0,0,0.7);
          width: 100%;
          height: 100%;
          position: absolute;
          .transition(all,0.3s);
          .scale(0);
          z-index: 1;
        }
        img{
          width: 100%;
          height: auto;
          border-radius: 50%;
          .transition(all,0.3s);
          .transform-rotateY(0deg);
        }
      }
      .field-collection-container{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 2;
        font-size: 17px;
        .transition(all,0.3s);
        .scale(0);
        .field{
          .middle-center();
        }
      }
    }
    .team-detail{
      h3{
        font-size: 19px;
        font-weight: 500;
        margin: 0 0 4px;
      }
      .field-categories{
        color: @base_color;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 14px;
      }
    }
    &:hover{
      .team-image{
        .field-name-field-image{
          &:before{
            .scale(1);
          }
          img{
            .transform-rotateY(180deg);
          }
        }
        .field-collection-container{
          .scale(1);
        }
      }
    }
  }
}
/*Socials*/
.field-name-field-social {
  .field-items {
    .field-item {
      display: inline-block;
      position: relative;
      margin: 0;
      .fa{
        border-radius: 50%;
        width: 32px;
        height: 32px;
        line-height: 32px;
        text-align: center;
        &.fa-facebook{
          color: #677fb5;
          &:hover{
            background-color: #677fb5;
          }
        }
        &.fa-youtube{
          color: #d5615c;
          &:hover{
            background-color: #d5615c;
          }
        }
        &.fa-twitter{
          color: #70c2e9;
          &:hover{
            background-color: #70c2e9;
          }
        }
        &.fa-google-plus{
          color: #bc7067;
          &:hover{
            background-color: #bc7067;
          }
        }
        &.fa-linkedin{
          color: #3daccf;
          &:hover{
            background-color: #3daccf;
          }
        }

        &:hover{
          color: #fff;
          background-color: @base_color;
        }
      }
      ul.field-collection-view-links {
        position: absolute;
        display: none;
      }
      .field-collection-view {
        padding: 0;
        margin: 0;
      }
    }
  }
  .action-links {
    display: none;
  }
}
.page-section-top {
  position: relative;
    .inner {
      opacity: 0.6;
      background: #453951 none repeat scroll 0% 0%;
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      z-index: 1;
    }
    .content .dexp-shortcodes-box {
      position: relative;
      width: 50%;
      display: block;
      background-color: @base_color;
      padding: 40px;
      box-shadow: 0px 0px 15px rgba(20, 20, 20, 0.4);
      z-index: 5;
    }
  &.section-testimonial-about{
    .content{
      position: relative;
      z-index: 5;
    }
    .block-inner{
      .inner{
        display: none;
      }
    }
  }
  }
