.maininfostrah h2 {
	display: block;
	font-size: 12px;
	text-align: center;
}



.white-box {
	background-color: rgba(255,255,255,1);
}

.modal-open .modal {
	margin: 0 auto;
}

#ex1.modal {
	overflow: overlay;
}
#ex1 .modal-open .modal p {
	text-align: center;
}

#ex1 .position-order h4, .position-order p {
	display: inline-block;
	margin: 0;
}

#ex1 .position-order .mb h4 {
	font-size: 18px;
}

#ex1 .position-order .mb p {
	margin-left: 20px;
}

#ex1 .position-order .maininfostrah h1 {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#ex1 .position-order .maininfostrah .email-address,
#ex1 .position-order .maininfostrah .cont-telephone,
#ex1 .position-order .maininfostrah .download-polis {
	margin-bottom: 10px;
}

#ex1 .position-order .maininfostrah div input{
	width: 265px;
}

@media only screen and (max-width: 568px) {
    #ex1 .position-order .maininfostrah div input{
	width: 100%;
	}
	#ex1 .position-order .maininfostrahall .infostrahall .er-info p {
    /* display: none;*/
	    float: none;
		white-space: nowrap;
		position: absolute;
		
	}
	#ex1 .er-info input {
	width : 100%;
	}
}

#ex1 .position-order .maininfostrah .email-address {

}

#ex1 .position-order .maininfostrah .cont-telephone {

}


#ex1 .position-order .maininfostrah,
#ex1 .position-order .infostrahall {
	border-bottom: 1px solid #000;
	padding: 5px 0;
}

#ex1 .position-order .maininfostrahall .infostrahall h2{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

#ex1 .position-order .maininfostrahall .infostrahall p {
	margin-left: 15px;
}

#ex1 .position-order .maininfostrahall .infostrahall .er-info {
	display: inline-block;
	height: 30px;
}



#ex1 .position-order .maininfostrahall .infostrahall .er-info h4 {
	font-size: 16px;
	font-weight: bold;
}

#ex1 .position-order .maininfostrahall .infostrahall .er-info p {
	float: right;
}

#ex1 .position-order .button-group {
	width: 100%;
	text-align: center;
}
#ex1 .position-order .button-group .closebutton {
	margin: 10px auto;
	padding: 5px 15px;
}
#ex1 .position-order .button-group .closebutton a {
	color: #fff;
}
label {
	font-size: 13px;
}


/* ////////////////////////////////////////////////////////////////// */


body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
/*  background: #2b2b2b; */
}
@media screen and (max-width: 580px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;  
}

.row:hover {
    background-color: #ececff;
    cursor: pointer;
}

.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}

.row.red {
    background: #ce3131;
}

/* .row.red:hover {
    background: #ea6153cc;
} */

.row.yellow {
  background: #fbb450;
}



@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  width: 50%;
}

.cell p {
	font-size: 12px;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}

#close-btn {
	display:none;
}

#kossajax .download-polis {
	margin-bottom: 10px;
}

#activate  {
	width:65px;
	
}

#koss-btn-group {
    text-align: center;
}