.column{
	display: inline-block;
}
.padding{
	padding-top: 24px;
}

button.btn.btn-default.btn-sm {
	white-space:normal;
	width: 160px;
	display:block;
	height:auto;
	background: #edeff4;
	color:black;
	font-size: 10px;
}
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .btn:hover {
	background: #0C2D6B;
	color: #fff;
}

.koss-background {
	background-color : #0C2D6B!important;
	color: #fff!important;
}

.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .btn-info{
	background-color: transparent;
	color: #0C2D6B;
	padding: 16px;
	border-radius: 0px;
	float: left;
	line-height: 1;
}
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .btn-info.active {
	background-color : #0C2D6B;
	color: #fff;
}
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form div > .btn:active,
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form div > .btn:focus,
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form div > .btn.active {
	-webkit-box-shadow: inset 0 0px 0px transparent;
	box-shadow: inset 0 0px 0px transparent;
	outline: 0;
}

.btn:not(.dexp-shortcodes-button) {
	min-height:30px;
	white-space:initial;
}

.site-logo img {
	height: auto;
	max-width: 50%;
	opacity: 0.68;
}

body.header-overlay #section-header.fixed-transition .section-inner {
	background-color: rgba(20,20,20,0.25);
}

body.header-overlay #section-header.fixed-transition .section-inner .site-logo img{
	background: aliceblue;
	border-radius: 50%;
}

.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator .strahinfo #Kter .btn-group button {
	
}
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator .strahinfo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator .strahinfo #accident_hidden {
	margin: 10px 0;
}

div#kter_div button {
	margin: 2px;
}

button#K1, #K2, #K3 {
	margin-bottom: 1px;
}

 #block-lang-dropdown-language label {
 	margin-right: 20px;
 }
 div#block-lang-dropdown-language {
 	margin-top: 5px;
 }

 body.ltr #section-header .region-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
 }
 #contact-site-form .form-text {
 	color: #000;
 }

.contact-form .form-type-checkbox .option {
	color: #000;
}
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .btn,
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .btn-info {
	border: 1px solid #0C2D6B;
}


.kossnowrap {
white-space:nowrap;
}

.orig_file {
  overflow: hidden!important;
	position: relative!important;
	background: transparent!important;
	/*border-radius: .5em!important;*/
	border: 1px solid #0C2D6B;
	padding: .5em!important;
	cursor: pointer!important;
	transition: all .5s!important;
}
.orig_file:hover {
	color: #fff;
	background-color: #0C2D6B!important;
}
.orig_file #file_strah, .orig_file #file_strah1, .orig_file #file_strah2, .orig_file #file_strah3, .orig_file #file_strah4 {
	cursor: inherit!important;
	display: block!important;
	font-size: 999px!important;
	filter: alpha(opacity=0)!important;
	min-height: 100%!important;
	min-width: 100%!important;
	opacity: 0!important;
	position: absolute!important;
	right: 0!important;
	text-align: right!important;
	top: 0!important;
}

.col-sm-3.cost-ua {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.cost-ua span {
	margin-top: 4px;
	margin-left: 10px;
}

.date-picker-wrapper.no-shortcuts {
	margin-top: 10px;
	margin-left: -20px;
}

#two-inputs {
	display: none;
}


.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .file-input .btn {
	background: transparent;
	color: #0C2D6B;
	border: 1px solid #0C2D6B;
	transition: all .3s;
	padding: 12px 0;
	min-height: 0; 
}
.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .file-input .btn:hover{
	background: #0C2D6B;
	color: #fff;
	border: 1px solid transparent;
}

.kv-zoom-actions .btn {
	background: transparent;
	color: #0C2D6B;
	border: 1px solid #0C2D6B;
	transition: all .3s;
	padding: 6px 0;
	min-height: 0;
	height: unset;
}

.kv-zoom-actions .btn:hover {
	background: #0C2D6B;
	color: #fff;
	border: 1px solid transparent;
}
.strahinfo {
	padding: 0;
}

@media screen and (max-width: 991px) {
	body.ltr #section-header .block {
		margin-right: 20px;
	}
}
@media screen and (max-width: 767px) {
	.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .btn-info {
		float: none;
		margin-bottom: 5px;
	}
	body.ltr #section-header .block {
		margin-right: 20px;
	}
	.dexp-body-inner .dexp-section .dexp-container .region .content #block-orphus-orphus-block .content #insuranceCalculator form .btn-info {
		height: auto;
	}

	.block.overlay-bg .content {
		padding: 0;
	}
	.butvisa {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		padding: 0;
	}

	.kossnowrap {
		white-space: unset;
	}

	#Kter .btn-group button {
		display: block;
		width: 100%;
	}
	.butvisa .my-btn-group {
		text-align: center;
	}

	.strahinfo .strah-collapse button{
		width: 100%;
	}

	.strahinfo div .btn-group button {
		display: block!important;
    width: 100%!important;
    margin: 5px 0;
	}
	.strahinfo div .btn-group {
		margin: 10px 0;
	}
	.summ {
		margin-top: 10px;
	}

	.cost-ua {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.cost-ua select {
		font-size: 10px;
		margin: 0;
	}
	.cost-ua span{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-left: 14px;
	}
}
.dd-option {
	cursor: pointer;
}


/* прелоадер*/

.preloader-but {
	z-index: 999999;
	display: inline-block;
	opacity: 0;
	background: #fff;
	margin-top: 2px;
	margin-left: 10px;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.kossmenuclass .menu {
	text-align: right;
}

.kossmenuclass .dexp-dropdown >ul.menu>li>a, .kossmenuclass .dexp-dropdown >ul.menu>li>a, .kossmenuclass .dexp-dropdown >ul.menu>li>span.nolink {
	padding: 0 2px;
	margin: 0 4px;
	font-size: 13px;
	text-transform: none;
	letter-spacing: 0px;
}

.pl0{
	padding-left: 0;
}
 
.page-loader-circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: rgba(34, 34, 34, 1);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-left-color: rgba(34, 34, 34, 1);
    border-right-color: rgba(0, 0, 0, 0.15);
    -webkit-animation: page-loader-circle 0.8s linear infinite;
    animation: page-loader-circle 0.8s linear infinite;
}
 
@keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
 
@-webkit-keyframes page-loader-circle {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*MODAL REX*/


/* The Modal (background) */
.kmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.kmodal-content {
    position: fixed;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    right: 0;
    left: 0;
    bottom: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.top200 {
	top: 100px;
	height: 190px;
	position: relative;
}

#contact-site-form textarea {
	color: #000;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.kclose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.kclose:hover,
.kclose:focus,
 {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.kmodal-header {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    color: white;
}

.kmodal-body {padding: 2px 16px;}

.kmodal-footer {
    padding: 2px 16px;
    /*background-color: #5cb85c;*/
    color: white;
}
.kmodal-content .btn {
	border: none!important;
}

.kmodal-content .kclose {
	color: #000;
}

.kmodal-content .kmodal-header h2, .kmodal-content .kmodal-footer h3 {
	text-align: center;
	color: #04173d;
	margin-bottom: 0;
}

 .kmodal-content .kmodal-footer h3 {
 	font-size: 12px;
 }

.kmodal-content .kmodal-body {
	text-align: center;
	margin: 10px auto;
}

.kmodal-content .kmodal-body .btn-primary {
	background-color: green;
	width: 150px;
}

.kmodal-content .kmodal-body .btn-secondary {
	background-color: red;
	width: 150px;
}

.kmodal-body p {
    font-size: 1.2em;
}

.kmodal-content .kmodal-body .peshki {
	margin: 30px 0;
}
	
.koss-xs-div {
	float: left;
	 
	}
	
.koss-div-center {
	margin: auto;
    padding: 10px;
	width:100%;
}

@media screen and (max-width: 767px) {
	.kmodal-content {
	bottom: 80px;
	width: 80%;
	}
	
	.top200 {
    top: 0px;
    height: 456px;
    position: relative;
	}
	
.justify-content-center	button {
		
	    margin-top: 5px;
	}
	
}

input:required {
  border-color: #d37d13;
  
}


input:required:valid {
  border-color: #0095e5;
}

input:required:invalid {
  border-color: #C00000;
}

.errorMessages  {
	   width: max-content; 
	   padding: 0;
}

#submit {
	display: none;
}
/* ------------- */    

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 25%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
	 z-index: 1001;
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}
 
#loader-wrapper .loader-section.section-left {
    left: 0;
}
 
#loader-wrapper .loader-section.section-right {
    right: 0;
}

loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded #loader {
    opacity: 0;
	 -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
    visibility: hidden;
}

/*.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.3s 0.3s ease-out; 
            transition: all 0.3s 0.3s ease-out;
}*/

.loaded #loader-wrapper .loader-section.section-right,
.loaded #loader-wrapper .loader-section.section-left {
 
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000); 
                transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
/*
.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 0.6s ease-out; 
                transition: all 0.3s 0.6s ease-out;
}*/

.loaded #loader-wrapper {
        -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
                transform: translateY(-100%);
 
        -webkit-transition: all 0.3s 1s ease-out; 
                transition: all 0.3s 1s ease-out;
}

/* /////////////////////////////////////// */


#pricing-table {
	/* margin: 100px auto;*/
	min-height: 490px;
	margin: 0;
	text-align: center;
	 width: 610px; /* total computed width = 222 x 3 + 226 */
	
}

#pricing-table .plan {
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	text-shadow: 0 1px rgba(255,255,255,.8);        
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
	float: left;
	position: relative;
}



#pricing-table .plan:hover, #pricing-table .plan:active {
	z-index: 2;
	top: -13px;
/*	border-width: 3px; */
	padding: 30px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
	box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
	 transition: 0.4s;
}



#pricing-table :active h3 {
	background-color: #ddd;
	background-image: -moz-linear-gradient(#eee,#ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: -o-linear-gradient(#eee, #ddd);
	background-image: -ms-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	margin-top: -30px;
	padding-top: 30px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0; 		
}

#pricing-table .plan:nth-child(1) {
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(3) {
	-moz-border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;        
}

/* --------------- */	

#pricing-table h3 {
	font-size: 20px;
	font-weight: normal;
	padding: 20px;
	margin: -20px -20px 50px -20px;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}



#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(3) h3 {
	-moz-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;       
}	

#pricing-table h3 span {
	display: block;
	font: bold 20px/89px Georgia, Serif;
	color: #777;
	background: #fff;
	border: 5px solid #fff;
	height: 100px;
	width: 100px;
	margin: 10px auto -65px;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	-moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	-webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
	box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

/* --------------- */
	
#pricing-table .signup {
	position: relative;
	padding: 8px 20px;
	margin: 20px 0 0 0;  
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #ff9a9a;
	/* background-color: #72ce3f; */
	background-image: -moz-linear-gradient(#ff9a9a, #ff4040);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));    
	background-image: -webkit-linear-gradient(#ff9a9a, #ff4040);
	background-image: -o-linear-gradient(#ff9a9a, #ff4040);
	background-image: -ms-linear-gradient(#ff9a9a, #ff4040);
	background-image: linear-gradient(#ff9a9a, #ff4040);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 1px 0 rgba(0,0,0,.3);        
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
	/* -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7); */
	/* box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7); */
}

#pricing-table .signup.nazhato {
		font: bold 12px Arial, Helvetica;
}

#pricing-table .signup:hover {
	background-color: #ff9a9a;
	background-image: -moz-linear-gradient(#ff9a9a, #ff0d0d);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff0d0d));      
	background-image: -webkit-linear-gradient(#ff9a9a, #ff0d0d);
	background-image: -o-linear-gradient(#ff9a9a, #ff0d0d);
	background-image: -ms-linear-gradient(#ff9a9a, #ff0d0d);
	background-image: linear-gradient(#ff9a9a, #ff0d0d); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
	/*background: #62bc30; */      
	background: #ff3434;       
	top: 2px;
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
	box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}

/* --------------- */

.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}
/*           ////       ***/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #eee;
}

h1 {
  padding: 50px 0;
  font-weight: 400;
  text-align: center;
}

p {
  margin: 0 0 20px;
  line-height: 1.5;
}

.tabmain {
  min-width: 320px;
  max-width: 800px;
  padding: 10px 0 10px 10px;
/*  margin: 0 auto; */
 /* background: #fff; */
}

.tabmain section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid transparent; 
 /* margin-left: -42px;*/
}


.tabmain input {
  display: none;
}

.tabmain label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
  border-bottom: 1px solid #ddd;
}


.tabmain label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

.tabmain label:before { content: '\f204'; }
/* .tabmain label[for*='2']:before { content: '\f204'; }
.tabmain label[for*='3']:before { content: '\f205'; }
.tabmain label[for*='4']:before { content: '\f1a9'; } */

.tabmain label:hover {
  color: #888;
  cursor: pointer;
}

.tabmain input:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
 /* border-bottom: 1px solid #fff; */
  border-bottom: none;
}

.tabmain input:checked + label:before {
    content: '\f205';
}

.tabmain #tab1:checked ~ #content1,
.tabmain #tab2:checked ~ #content2 {
  display: block;
}

.tabmain .plan label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: none;
    /*border-bottom: 1px solid #ddd;*/
}

.tabmain .plan input:checked + label {
    color: #555;
    border: none;
    border: 1px solid transparent;
    border-top: none;
    /* border-bottom: 1px solid #fff; */
    border-bottom: none;
}

.tabmain .container label {
	border:none;
	padding: 0;
	/* border-bottom:none;*/ 
	color: #555;
}
.tabmain .container label:before {
    content: none;
}

.kossunchecked {
    color: #bbb;
}

@media screen and (max-width: 650px) {
.tabmain   label {
    /* font-size: 0;*/
	font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
	
  }
  .tabmain label:before {
    margin: 0;
    font-size: 18px;
  }
  
  .tabmain section {

	margin-left: -42px;
	}
	
#pricing-table.kplan{
    /* margin: 100px auto; */
    /*min-height: 424px;*/
    margin: 0;
    text-align: center;
    width: 260px;
    display: flex;
    justify-content: center;
	}
	
	.tabmain #tab2:checked ~ #content2 {
    
    width: 90% !important;
	}
	
}

@media screen and (max-width: 400px) {
  .tabmain label {
    padding: 15px;
  }
}

.scrollclass {
   /* width: 300px;
    display: flex;*/
    position: relative;
    overflow-x: auto;
}

#tooltipid + .tooltip > .tooltip-inner {
      background-color: gold; 
      color: black; 
      border: 1px solid blue; 
      padding: 15px;
      font-size: 20px;
  }
 
/* Tooltip on top */
#tooltipid + .tooltip.top > .tooltip-arrow {
      border-top: 5px solid red;
  } 
  
  #firstdate > div {
	padding: 0 15px 0 0 ;
}